name: CI/CD

on:
  push:
    branches:
      - "main"
  pull_request:

env:
  PYTHON_VERSION: "3.10"

jobs:
  test:
    name: Test with Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.9", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Cache poetry installation
        id: cache-poetry
        uses: actions/cache@v3
        with:
          key: poetry-${{ hashFiles('poetry.lock') }}-py${{ matrix.python_version }}
          path: |
            ~/.local/bin/poetry
            ~/.local/share/pypoetry
            ~/.cache/pypoetry
      - name: Install poetry
        if: ${{ steps.cache-poetry.outputs.cache-hit != 'true' }}
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: Install project and its dependencies
        run: poetry install
      - name: Run tests
        run: poetry run pytest --cov-report=xml:coverage.xml
      - name: Upload coverage artifact
        if: ${{ matrix.python_version == env.PYTHON_VERSION }}
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: ./coverage.xml
          retention-days: 1
  upload-coverage:
    name: Upload coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download coverage artifact
        uses: actions/download-artifact@v3
        with:
          name: coverage-report
          path: ./coverage-report
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage-report/coverage.xml
          fail_ci_if_error: true
          verbose: true
  deploy-test-pypi:
    name: Deploy to TestPyPI
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main' }}
    needs: test
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSIOn }}
      - name: Cache poetry installation
        id: cache-poetry
        uses: actions/cache@v3
        with:
          key: poetry-${{ hashFiles('poetry.lock') }}-py${{ env.PYTHON_VERSIOn }}
          path: |
            ~/.local/bin/poetry
            ~/.local/share/pypoetry
            ~/.cache/pypoetry
      - name: Install poetry
        if: ${{ steps.cache-poetry.outputs.cache-hit != 'true' }}
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: Install project and its dependencies
        run: poetry install
      - name: Publish to TestPyPI
        run: |
          poetry config repositories.test-pypi https://test.pypi.org/legacy/
          poetry publish --build --repository test-pypi --username __token__ --password ${{ secrets.PYPI_TOKEN }}
  deploy-pypi:
    name: Deploy to PyPI
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    needs: test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSIOn }}
      - name: Cache poetry installation
        id: cache-poetry
        uses: actions/cache@v3
        with:
          key: poetry-${{ hashFiles('poetry.lock') }}-py${{ env.PYTHON_VERSIOn }}
          path: |
            ~/.local/bin/poetry
            ~/.local/share/pypoetry
            ~/.cache/pypoetry
      - name: Install poetry
        if: ${{ steps.cache-poetry.outputs.cache-hit != 'true' }}
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: Install project and its dependencies
        run: poetry install
      - name: Publish to TestPyPI
        run: poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}
